@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply m-0;
}

select {
  @apply m-0 block appearance-none rounded-md border border-solid border-gray-400 bg-transparent bg-no-repeat px-[18px] py-2 text-xl font-normal leading-8 transition ease-in-out focus:border-gray-700 focus:outline-none;

  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-position-x: calc(100% - 8px);
  background-position-y: 13px;
}
